*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Merriweather', serif;
    color:#40514E;
    line-height:1.8;
}

:root{

--primary:#0F4C81;

--secondary:#00A6A6;

--background:#F8FBFD;

--card:#FFFFFF;

--text:#333;

--shadow:rgba(0,0,0,.08);

}

hr {
  margin: 50px auto;
  width: 5%;
  border: dotted #EAF6F6 6px;
  border-bottom : none;
}

h1 {
  font-size:clamp(2.8rem,6vw,5.5rem);
  font-weight: bold;
  margin: 50px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size:clamp(1.8rem,4vw,2.5rem);
  color: #66BFBF;
  font-weight: normal;
  margin: 30px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size:clamp(1.1rem,2vw,1.4rem);
  color: #11999E;
}

td {
  text-align: left;
}
/* Top Container */

.top-cloud{

    right:8%;
    top:30px;
    width:120px;
}

.bottom-cloud{

    left:8%;
    bottom:200px;
    width:120px;
}

@media(max-width:768px){

.top-cloud,
.bottom-cloud{

    display:none;
}

}

@media (max-width:768px){

h1{

    margin-top:40px;
}

.skill-row{

    flex-direction:column;

    text-align:center;
}

.skills-icons{

    justify-content:center;
}

.table{

    font-size:.85rem;
}

.bottom-container a{

    display:block;

    margin:12px 0;
}

}

.top-container {
  padding: 15px;
  background-color: #e4f9f5;
  margin-bottom: 30px;
  text-align: center;
  position: relative;
}

.header-img{
  text-align: center;
  margin-bottom: 30px;
}


.profile-img{
    width:220px;
    max-width:60vw;
    aspect-ratio:1;
    border-radius:50%;
}


/* Middle Container */

.middle-container {
  text-align: center;
}

.work-experience,
.projects-handled,
.roles,
.academic,
.awards,
.contact{
    width:90%;
    max-width:1100px;
    margin:auto;
}

.work-experience,
.projects-handled,
.roles,
.academic,
.awards{

    background:white;

    padding:35px;

    margin-top:40px;

    border-radius:15px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);
}

.content-table {
  margin-top: 50px;
}

.skill-row{

    display:flex;
    justify-content:space-between;
    align-items:center;

    gap:20px;

    width:90%;
    max-width:1000px;

    margin:40px auto;

    padding:25px;

    border-radius:15px;

    background:white;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.skills-icons{

    display:flex;
    flex-wrap:wrap;
    gap:15px;
}

.skills-img{

    width:55px;
    height:55px;

    margin:0;
}

table{

    width:100%;
}

.table{

    border-radius:12px;
    overflow:hidden;
}

.table td,
.table th{

    vertical-align:middle;
}

.btn{

    border-radius:50px;

    padding:15px 40px;

    transition:.3s;
}

.btn:hover{

    transform:translateY(-3px);

    box-shadow:0 8px 20px rgba(0,0,0,.2);
}

/* Bottom Container */

.bottom-container{

    padding:40px 20px;
}

.bottom-container a{

    display:inline-block;

    margin:10px;

    text-decoration:none;

    transition:.3s;
}

.bottom-container a:hover{

    color:#EAF6F6;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75em;
  padding: 20px 0;
}

/* ==========================
      Experience Timeline
=========================== */

.timeline{

    position:relative;

    max-width:900px;

    margin:60px auto;
}

.timeline::before{

    content:"";

    position:absolute;

    left:25px;

    width:4px;

    top:0;

    bottom:0;

    background:#0d6efd;

}

.timeline-item{

    position:relative;

    margin-bottom:60px;

    padding-left:70px;

}

.timeline-dot{

    position:absolute;

    left:15px;

    width:22px;

    height:22px;

    border-radius:50%;

    background:#0d6efd;

    border:4px solid white;

    box-shadow:0 0 0 5px rgba(13,110,253,.2);

}

.timeline-content{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 8px 30px rgba(0,0,0,.08);

    transition:.3s;

}

.timeline-content:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 35px rgba(0,0,0,.12);

}

.timeline-date{

    color:#0d6efd;

    font-weight:600;

}

.timeline-content h3{

    margin-top:10px;

    margin-bottom:5px;

}

.timeline-content h5{

    color:#666;

    margin-bottom:20px;

}

.timeline-content ul{

    padding-left:20px;

}

.timeline-content li{

    margin-bottom:8px;

}


/* ==========================
        Skills
=========================== */

.skill-card{

    background:#fff;

    border-radius:20px;

    padding:30px;

    height:100%;

    text-align:center;

    transition:.3s;

    box-shadow:0 8px 25px rgba(0,0,0,.08);
}

.skill-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);
}

.skill-icon{

    width:70px;

    height:70px;

    margin:0 auto 20px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    background:#0d6efd;

    color:white;

    font-size:28px;
}

.skill-card h4{

    margin-bottom:20px;

    font-weight:600;
}

.skill-tags{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:10px;
}

.skill-tags span{

    background:#eef4ff;

    color:#0d6efd;

    padding:8px 14px;

    border-radius:50px;

    font-size:.9rem;

    font-weight:500;
}


.stat-card{

    background:white;

    text-align:center;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);
}

.stat-card h3{

    color:#0d6efd;

    font-size:2rem;

    margin-bottom:5px;
}

/* =====================================
        PROJECTS
======================================*/

.project-card{

    background:#fff;

    padding:35px;

    border-radius:18px;

    height:100%;

    transition:.35s;

    box-shadow:0 8px 25px rgba(0,0,0,.08);

    border:1px solid rgba(0,0,0,.05);

}

.project-card:hover{

    transform:translateY(-10px);

    box-shadow:0 18px 40px rgba(0,0,0,.12);

}

.project-icon{

    width:70px;

    height:70px;

    border-radius:50%;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    color:white;

    background:#0d6efd;

    margin-bottom:25px;

}

.project-card h4{

    font-weight:700;

    margin-bottom:15px;

}

.project-card p{

    color:#555;

    min-height:110px;

}

.tech-stack{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin:20px 0;

}

.tech-stack span{

    background:#eef5ff;

    color:#0d6efd;

    padding:8px 15px;

    border-radius:20px;

    font-size:.85rem;

    font-weight:600;

}


/* ===================================
            STATS
===================================*/

.stats-card{

background:white;

padding:35px;

text-align:center;

border-radius:18px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

transition:.3s;

}

.stats-card:hover{

transform:translateY(-8px);

}

.stats-card h2{

font-size:3rem;

color:#0d6efd;

font-weight:700;

}

.stats-card p{

margin-top:10px;

font-weight:600;

}

/* ===================================
        CERTIFICATIONS
===================================*/

.certificate-card{

display:flex;

align-items:center;

gap:25px;

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

height:100%;

transition:.3s;

}

.certificate-card:hover{

transform:translateY(-6px);

}

.cert-icon{

font-size:45px;

color:#0d6efd;

width:60px;

text-align:center;

}

.azure{

color:#0078D4;

}

.aws{

color:#FF9900;

}

.github{

color:#24292f;

}

/* ===================================
        EDUCATION
===================================*/

.education-card{

display:flex;

gap:25px;

align-items:center;

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.education-card i{

font-size:50px;

color:#0d6efd;

}

/* ===================================
            AWARDS
===================================*/

.award-card{

background:white;

padding:20px;

border-radius:12px;

font-weight:600;

box-shadow:0 8px 20px rgba(0,0,0,.08);

transition:.3s;

}

.award-card:hover{

transform:translateY(-5px);

background:#0d6efd;

color:white;

}

.section-subtitle{

margin-bottom:30px;

font-weight:700;

color:#0d6efd;

}

/* ===========================
      CONTACT
=========================== */

.contact-section{

background:#f8fbff;

}

.contact-card{

background:white;

padding:35px;

border-radius:18px;

text-align:center;

height:100%;

transition:.35s;

box-shadow:0 10px 25px rgba(0,0,0,.08);

}

.contact-card:hover{

transform:translateY(-8px);

}

.contact-card i{

font-size:45px;

margin-bottom:20px;

color:#0d6efd;

}

.contact-card a{

text-decoration:none;

font-weight:600;

}

/* ===========================
        FOOTER
=========================== */

footer{

background:#0b1727;

color:white;

padding:50px 0;

text-align:center;

}

.social-icons{

margin-bottom:25px;

}

.social-icons a{

color:white;

font-size:28px;

margin:0 15px;

transition:.3s;

}

.social-icons a:hover{

color:#0d6efd;

}

/* ===========================
        SCROLL BUTTON
=========================== */

#scrollTop{

position:fixed;

right:25px;

bottom:25px;

width:55px;

height:55px;

border:none;

border-radius:50%;

background:#0d6efd;

color:white;

font-size:22px;

cursor:pointer;

opacity:0;

visibility:hidden;

transition:.3s;

z-index:1000;

}

#scrollTop.show{

opacity:1;

visibility:visible;

}

/* ===========================
      NAVBAR
=========================== */

.navbar{

background:white;

}

.navbar-brand{

font-weight:700;

font-size:1.5rem;

color:#0d6efd !important;

}

.nav-link{

font-weight:500;

margin-left:20px;

}

.nav-link.active{

color:#0d6efd !important;

font-weight:700;

}

/* ===========================
      HERO
=========================== */

.hero{

padding:150px 0 100px;

background:linear-gradient(135deg,#eef6ff,#ffffff);

}

.hero h1{

font-size:4rem;

font-weight:700;

}

.hero span{

color:#0d6efd;

}

.hero-image{

max-width:360px;

border-radius:50%;

box-shadow:0 20px 50px rgba(0,0,0,.15);

}

.hero-tag{

color:#0d6efd;

font-weight:600;

letter-spacing:1px;

}

/* ===========================
      GENERAL
=========================== */

body{

font-family:'Poppins',sans-serif;

background:#ffffff;

color:#333;

line-height:1.8;

}

.section{

padding:100px 0;

}

.section-title{

text-align:center;

margin-bottom:70px;

}

.section-title h2{

font-size:2.7rem;

font-weight:700;

}

.section-title p{

color:#666;

}



@media(max-width:768px){

.timeline::before{

left:15px;

}

.timeline-dot{

left:5px;

}

.timeline-item{

padding-left:45px;

}

.timeline-content{

padding:20px;

}

}

@media(max-width:768px){

.project-card{

padding:25px;

}

.project-card p{

min-height:auto;

}

.project-icon{

margin:auto auto 20px;

}

.project-card{

text-align:center;

}

.tech-stack{

justify-content:center;

}

}

@media(max-width:768px){

.certificate-card{

flex-direction:column;

text-align:center;

}

.education-card{

flex-direction:column;

text-align:center;

}

.stats-card{

margin-bottom:20px;

}

}

@media(max-width:768px){

.hero{

padding-top:120px;

text-align:center;

}

.hero h1{

font-size:2.7rem;

}

.hero-image{

max-width:250px;

margin-top:40px;

}

.nav-link{

margin-left:0;

text-align:center;

}

.social-icons a{

font-size:24px;

margin:10px;

}

}